<div class="grid-container">
<div class="grid-x align-center">
<div class="cell medium-9">

<h2> Add a New Quote </h3>


<%= simple_form_for @quote do |f|  %>

<%= f.input :quotetext, label: "Quote text", input_html: { class: 'new-quote' } %>

<%= f.association :author, label_method: :full_name , value_method: :id, include_blank: true, required: false,  input_html: {class:'author-select'} %>

<%= f.input :source %>

<br>

<%= f.association :categories, include_blank: false, include_hidden: false, required: false, input_html: {class:'cat-select'} %>

<br>
<br>

<%= f.button :submit, "Create New Quote", class: 'button' %>

<% end %>

</div>
</div>
</div>