<body class="img-background">
<div class="grid-container">
<div class="grid-x">
<div class="cell" style="height: 150px"> </div>
</div>
<div class="grid-x align-center">
    <div class="cell medium-9 welcome">
        <h1 class="main-quote"> <%= @quote.quotetext %> </h1>
      <h2 class="author">  - <%= @quote&.author.author_first %> <%= @quote&.author.author_last %> </h2>
        <p> <%= link_to  "back to quotes", quotes_path %> </p>
        <p>
        <%= link_to "Prev Post", @quote.prev %> 
        <%= link_to "Next Post", @quote.next %>
        </p>
    </div>
</div>

